<div class='show-post'>
<div class='show-post-id'>
  <strong>Post:</strong>
  <%= post.id %>
</div>

<div class='show-post-content'>
  <%= post.text %>
</div>

<div class='show-counter'>
  Comments: <%= post.comments.count %>
  Likes: <%= post.likes.count %>
</div>
</div>